.card {
        min-height: 150px;
        
    /* color: red; */
}

.card-body {
    background-color: skyblue;
    min-height: 150px;
}

.card-title {
    color: black;
}

.card-type {
    color: teal;
}

.card-body:hover {
    background-color: rgb(80, 147, 173);
}