.card {
        min-height: 150px;
        
    /* color: red; */
}

.card-title {
    color: slateblue;
}

.card-body {
    background-color: skyblue;
}

.card-type {
    color: teal;
}

.card-body:hover {
    background-color: slateblue;
}